/**
 * This is just an empty theme.
 */

body {
	margin: 0;
}

.signed-out #main {
	left: 5px;
}

#sidebar {
	bottom: 52px;
}

#footer {
	border-radius: 2px;
	bottom: 4px;
	left: 5px;
	width: 210px;
}

#main {
	bottom: 4px;
	right: 5px;
	top: 4px;
}

#chat .unhandled .from {
	color: #ddd;
}

#windows .window:before {
	background: #f4f4f4;
	background-image: linear-gradient(#f4f4f4, #ececec);
	border-bottom: 1px solid #d7d7d7;
	content: " ";
	display: block;
	height: 10px;
	position: relative;
	z-index: 10;
}

#windows .window {
	border-radius: 2px;
}

.btn-reconnect {
	background: #e74c3c;
	color: #fff;
	border: 0;
	border-radius: 0;
	margin: 0;
}

@media (max-width: 768px) {
	#sidebar {
		left: -220px;
	}

	#footer {
		left: -215px;
		width: 215px;
	}

	#main {
		left: 5px;
	}
}

/* SAIDIT CUSTOM UPDATES */

#main {
	bottom: 2px;
	right: 2px;
	top: 2px;
	left: 2px;
}

body {
	background-color: #f8f8f8;
}


@media (max-width: 768px) {
	#main {
		left: 2px;
	}
}

#windows #chat-container.active {
	border: solid #f8f8f8;
    border-radius: 12px;
}

#chat .time{
	color: #757575;
}

@media (min-width: 480px) {
	#chat .from:after {
		background: none;
	}
}

#sidebar .chan .name:after {
	background: none;
}

#sidebar .chan:first-child:hover, #sidebar .chan:first-child.acive { 
	color: #74b778;
 }

#sidebar button:hover, #sidebar .chan:hover, #sidebar .active {

	color: #484848;
}